.myHeader {
    height: 20vh;
}

.myLogo {
    width: 400px;
}

.myNavBtn.btn {
    background-image: linear-gradient(to top, var(--blue), var(--light));
    background-repeat: no-repeat;
    background-size: cover;
    color: navy;
}

.myNavBtn.btn:hover {
    background-image: linear-gradient(to top, var(--light), var(--blue));
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid navy;
}

.myNavBtn,
.myNavBtn:hover {
    transition: 0.2s ease-in-out;
}