.firstCard {
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.relaxCard {
    background-image: linear-gradient(to bottom, white, var(--light));
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border-radius: 15px;
}

.relaxHeading {
    font-size: 3rem;
    font-weight: 700;
    font-style: oblique;
    color: black
}

.bookBtn.btn {
    background-color: rgb(212, 240, 248);
    color: black;
    border: 1px solid navy;
}

.bookBtn.btn:hover {
    background-image: linear-gradient(to top, var(--blue), var(--light));
    color: navy;
    border: 1px solid navy;
}

.teamPic {
    background-color: var(--light);
    border-radius: 15px;
    height: 400px;
    width: 350px;
}